# This is a basic workflow to help you get started with the CI/CD for Functions Project

name: Build and Deploy Job

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: 'itfunctions-app'   # UPDATE THIS!
  PYTHON_VERSION: '3.12'                               # Update if you used 3.11

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: 'Resolve Project Dependencies Using Pip'
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt --target=".python_packages/lib/site-packages"

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        with:
          # Description: Name of the Azure Function App
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          # Description: Path to package or folder. *.zip or a folder to deploy
          package: .
          # Description: Publish profile (*.publishsettings) file contents with web deploy secrets
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true